hr {
  margin: 0;
}

.rodape {
  background-color: var(--Branco);
  color: var(--azul);
  padding: 1em;
}

.rodape_lista {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
  }

  .rodape_lista {
    display: block;
  }

  .rodape-lista_titulo {
    color: var(--cinza_titulo);
    margin-bottom: 0.6em;
    font-size: 14px;
  }

  .rodape-lista_item {
    display: flex;
    align-items: center;
    margin: 0.6em 0;
  }

  .rodape-lista_link {
    text-decoration: none;
    color: var(--cinza);
    margin-left: 1em;
  }

  .rodape_titulo {
    font-size: 24px;
    color: var(--preto);
  }
}

@media screen and (min-width: 1500px) {
  .rodape_lista {
    border-left: 1px solid var(--cinza);
    padding-left: 1em;
  }

  .rodape {
    padding: 3em;
  }
}